{% extends 'shop_example/base.html'%}

{% block custom_static%}
    {% load static%}
    <link rel="stylesheet" href="{% static 'shop_example/css/comp.css'%}">
{% endblock custom_static %}

{% block computer_page %}
<div class="row computer-page-content">
    <div class="computer-picture col-md-4">
    {% load static %}
        <img class="computer-picture " src="{% static computer_to_render.picture_link %}">
    </div>

    <div class="computer-description col-md-4">
        <div class="computer-info-column-header">
        <h3>{{computer_to_render.name}}</h3>
        </div>
        <div class="computer-info-column-body">
            <ul>
                <li>{{computer_to_render.display_type}}</li>
                <li>{{computer_to_render.processor_type}}</li>
                <li>{{computer_to_render.ram_type}}</li>
                <li>{{computer_to_render.ssd_volume}}</li>
            </ul>
        </div>
    </div>

    <div class="payment-section col-md-4">
        <div class="payment-button-section">
            <h3 class="price-header">{{computer_to_render.comp_price}} {{computer_to_render.price_currency}}</h3>
            <form action="#" class="row">
                <div class="col text-center">
                    <button class="buy-button btn btn-success">BUY</button>
                </div>
            </form>
        </div>

        <div class="back-to-main-page row">
            <form action="/shop/" class="col align-self-end">
                <button class="main-page-btn btn btn-info ">Go to main page</button>
            </form>
        </div>
    </div>

</div>
{% endblock computer_page%}